.note-list-item {
	list-style: none;
}

.index {
	display: flex;
	flex-direction: column;
}

.create-note-form {
	display: flex;
	flex-direction: column;
	border-color: black;
	border-style: groove;
	border-radius: 10px;
	padding: 10px;
}

.create-note-input {
	display: block;
	margin-left: 15px;
	margin-right: 15px;
}

.create-note-button {
	display: block;
	width: 100px;
	margin-right: 15px;
}

.create-note-button-block {
	display: flex;
	justify-content: flex-end;
}